.button {
  background-color: $c-red;
  border: 0;
  color: $c-white;
  display: inline-block;
  font-size: 14px;
  font-weight: fw("bold");
  letter-spacing: 4px;
  padding: 8px 15px;
  text-transform: uppercase;
  transition: $dt;

  &:hover {
    background-color: darken($c-red, 8%);
    color: $c-white;
    text-decoration: none;
  }

  &--arrow {
    padding: 8px 30px 8px 15px;

    &::after {
      border-color: transparent transparent transparent #ffffff;
      border-style: solid;
      border-width: 5px 0 5px 10px;
      content: "";
      display: inline-block;
      height: 0;
      left: 15px;
      position: relative;
      transition: $dt;
      width: 0;
    }
  }

  &--icon {
    padding: 8px 30px 8px 20px;

    svg {
      display: inline-block;
      height: 12px;
      right: 0;
      position: relative;
      transition: all 0.3s ease;
      transition-delay: 0s;
      top: 0;
      margin-left: 2px;
      width: 12px;
    }

    &:hover {
      svg {
        fill: $c-white;
      }
    }
  }

  &--ghost {
    background: transparent;
    border: 2px solid $c-gray;
    color: $c-gray;

    &::after {
      border-color: transparent transparent transparent $c-gray;
    }

    &:hover {
      color: $c-white;
      background-color: $c-gray;

      &::after {
        border-color: transparent transparent transparent $c-white;
      }
    }
  }

  &--medium {
    font-size: 14px;
    line-height: 1.45;
    padding: 8px 30px;

    @include media("<=phone") {
      width: 100%;
    }

    @include media(">=desktop") {
      padding: 8px 50px 8px 45px;
      font-size: 16px;
    }

    @include media(">=wide") {
      font-size: 18px;
    }
  }

  &--large {
    font-size: 16px;
    line-height: 1.45;
    padding: 10px 40px 10px 25px;
    width: 100%;

    @include media(">=tablet") {
      font-size: 18px;
    }
  }

  &--huge {
    align-items: center;
    display: flex;
    font-size: 18px;
    margin-left: auto;
    padding: 25px;
    justify-content: center;
    width: 100%;

    @include media(">=desktop") {
      justify-content: left;
      width: 50%;
    }
  }
  
  &--red {
    &.button--ghost {
      border-color: $c-red;
      background-color: transparent;
      color: $c-red;

      &:hover {
        color: $c-white;
        background-color: $c-red;
      }
    }

    svg {
      fill: $c-red;
    }
  }
  
  &--green {
    &.button--ghost {
      border-color: $c-green;
      background-color: transparent;
      color: $c-green;

      &:hover {
        color: $c-white;
        background-color: $c-green;
      }
    }
  }

  &--blue {
    &.button--ghost {
      border-color: $c-blue;
      background-color: transparent;
      color: $c-blue;

      &:hover {
        color: $c-white;
        background-color: $c-blue;
      }
    }
  }

  &-group {
    margin: 95px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    @include media(">=desktop") {
      padding: 0 6%;
    }

    .button {
      margin-bottom: 20px;
      width: 100%;

      @include media(">=tablet") {
        width: 46%;
      }

      @include media(">=desktop") {
        width: 46%;
      }
    }
  }
}